venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Unfinished projects - not ready to push yet
01_Linear_Regression/
04_Shallow_Neural_Network/
decision_tree.ipynb
linear_reg_sklearn_deeplearning_ai.ipynb
logistic_regression.ipynb
neural_network.py
test_shallownn_model.ipynb